.godere{
  &-catalog {
    display flex
    
    &__content {

    }

    &__select {
      display flex
      justify-content flex-end

      select {
        width: 200px;
        height: 2rem
        border: 1px solid $secondaryGrey;
        background $mainWhite
      }
    }

    &__list {
      display flex
      justify-content space-between
    }
  } 
  &-filters {
    box-shadow: 0 12px 48px rgba(0,0,0,0.08);
    flex-basis: 20%;
    max-width: 20%;
    margin-right: 2rem;
    padding: 1rem;

    &__title {
      font-weight $bold
      margin-bottom 0.5rem
    }

    &__price {
      display flex
      justify-content space-between
      
      input[type=text] {
        max-width  48%
        margin 0 0 0.5rem
        padding 0.25rem
        border 1px solid $secondaryGrey
        border-radius: 8px;
        outline none
      }
    }

    &__brand {
      margin-bottom 2rem 

      input[type=text] {
        width 100%
        margin 0 0 0.5rem
        padding 0.25rem
        border 1px solid $secondaryGrey
        border-radius: 8px;
        outline none
      } 
    }

    &__checkbox {
      margin-bottom: 0.5rem;

      input[type=checkbox] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ label {
          &:before {
            background: url(/assets/img/checkbox_active.svg) no-repeat;
            background-size: contain;
            background-color $mainRed
          }
        }
      }

      label {
        position relative
        padding-left: 1.5rem;
        cursor pointer

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 1.5rem;
          height: 1.5rem;
          background-image: url(/assets/img/checkbox.svg);
          background-size: contain;
          // background-color $secondaryGrey
        }
        
      }
    }
  }
}

    