.godere-menu {
  display flex

  &__list {
    list-style-type none
    margin 0
    padding 0
    display flex
  }

  &__item {
    margin-right 10px
  }

  &__link {
    text-decoration none
    color $mainWhite
  }
}