.godere-form {
  background-color: $mainGrey;
  border-radius: 8px;
  padding 1rem
  flex-basis: 25%;

  &__item {
    display flex
    justify-content space-between
    margin-bottom 1rem
  }

  &__value {
      font-weight $bold
  }

  &__promo {
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    border-radius: 8px;
    margin 3rem 0 1rem
    padding 0.5rem 1rem
    width 100%   
  }

}