.godere-form {
  background-color: $mainGrey;
  border-radius: 8px;
  padding: 2rem 1rem;
  flex-basis: 20%;
  min-width 20%
  text-align: center;
  height: fit-content;

  &__item {
    display flex
    justify-content space-between
    margin-bottom 1rem
    font-size 0.875rem
  }

  &__title {
    &_total {
      font-size 1rem
    }
  }

  &__value {
    font-weight $bold
    white-space: nowrap;

    &_price {
      font-weight $bold
      font-size 1.125rem
    }
  }

  &__promo {
    border: 1px solid $secondaryGrey;
    box-sizing: border-box;
    border-radius: 8px;
    margin 3rem 0 1rem
    padding 0.5rem 1rem
    width 100%   
  }

  &__button {
    display: inline-flex;
    background $secondaryRed
    color $mainWhite
    text-decoration none
    padding 0.5rem 2.5rem
    border-radius: 5rem
    font-size 1.125rem
    cursor pointer

    &:hover {
      box-shadow: 0px 16px 32px rgba(207, 0, 0, 0.32);
    }
  }
}