.godere-footer {
  background-color $mainGrey
  display flex
  padding 2rem 0

  &__copy {
    font-size 0.75rem
    opacity 0.4
  }

  &__user-agreement {
    display block
    opacity 0.4
    color $mainBlack
    text-decoration none
    font-size 0.75rem
  }

  &__col {
    margin-right 2rem
  }

  &__title {
    font-weight $bold
    margin-bottom 0.5rem
  }

  &__link {
    display block
    color $mainBlack
    text-decoration none
    font-size 0.75rem
  }

  &__social {
    &-link {
      display inline-block
      height 2rem
    }

    &-img {
      max-width 100%
    }
  }
}