.godere-breadcrumbs {
  display flex
  margin-top: 1rem;

  &__link {
    color: $secondaryRed
    position relative
    margin-right 1rem

    &:after {
        content: '/';
        position: absolute;
        right: -0.75rem;
        left: auto;
    }

    &_active {
        text-decoration none
        color $mainBlack   

        &:after {
          display none
        } 
    }
  }
}