.godere-page {
  margin-bottom: 2rem;
  
  &__row {
    display flex
    justify-content: space-between
    margin-bottom 1rem
  }

  &__col {
    flex-basis 48%
    max-width: 48%;
    position: relative;
  }

  &__sale {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 1rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 3rem;
    border-radius: 3rem;
    font-size: 1rem;
    background $secondaryRed
    color $mainWhite
  }  

  &__title {
    font-size 1.5rem
    font-weight $bold
    margin-bottom 1rem
  }

  &__description {
    margin-bottom 1rem
  }

  &__code {
  }

  &__vendor {
    color $secondaryRed
  }

  &__delivery {
    position relative
    padding-left 2rem
    color $mainBlack
    opacity 0.4

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: .25rem;
      width: 1.25rem;
      height: 1.25rem;
      background: url(/assets/img/delivery.svg) no-repeat;
      background-size: contain;
    }
  }

  &__price {
    font-weight $bold
    font-size 2rem
  }

  &__status {
    padding-left 1.5rem
    position relative
    text-align: right 
    margin-bottom 2rem 
    margin-left: 1rem;  

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0.25rem;
      width: 1.25rem;
      height: 1.25rem;
      background: url(/assets/img/check.svg) no-repeat;
      background-size: contain;
    }
  }

  &__button {
    display: inline-table;
    background $secondaryRed
    color $mainWhite
    text-decoration none
    padding 0.5rem 2.5rem
    border-radius: 5rem
    font-size 1rem
    outline none

    &:hover {
      box-shadow: 0px 16px 32px rgba(207, 0, 0, 0.32);
    }
  }

  &-options {
    &__title {
      font-weight $bold
      margin-bottom 1rem
    }
    
    &__item {
      display flex
      margin-bottom 0.5rem
    }

    &__name, &__value {
      flex-basis 50%
    }
  }

  &-reviews {
    &__title {
      font-weight $bold
      margin-bottom 1rem
    }
    
    &__item {
      margin-bottom 2rem
    }

    &__author {
      font-weight $bold
    }

    &__text {
    }
  }
}


.godere-swiper {
  &__slide {
    text-align: center;
  }
  &__button {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    border-radius: 2rem;
    text-align: center;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    color: $mainBlack
    outline none

    &:before, &:after {
      display none
    }
  }

  &__pagination.swiper-pagination-bullets {
    bottom: 0px;

    .swiper-pagination-bullet {
      background $secondaryRed
    }
  }
}

@media screen and (max-width: 1024px) {
  .godere {
    &-page {
      &__row {
        flex-direction: column;
      }

      &__col {
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom 1rem
      }

      &__code, &__vendor {
        margin-bottom 1rem
      }

      &__status {
        width: fit-content;
        margin-left: 0;
      }

      &__button {
        text-align center
        width: 100%;
      }
    }

    &-swiper {
      &__img {
        max-width 100%
      }
    }
  }
}
