.godere-page {
  
  &__row {
    display flex
    justify-content: space-between
    margin-bottom 1rem
  }

  &__col {
    flex-basis 48%
  }

  &__title {
    font-size 1.5rem
    font-weight $bold
    margin-bottom 1rem
  }

  &__description {
    margin-bottom 1rem
  }

  &__code {
  }

  &__vendor {
    color $secondaryRed
  }

  &__delivery {
    position relative
    padding-left 2rem
    color $mainBlack
    opacity 0.4

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: .25rem;
      width: 1rem;
      height: 1rem;
      background: url(../../../src/assets/img/delivery.png) no-repeat;
      background-size: contain;
    }
  }

  &__price {
    font-weight $bold
    font-size 2rem
  }

  &__status {
    padding-left 1.5rem
    position relative
    text-align: right 
    margin-bottom 2rem 
    margin-left: 1rem;  

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0.25rem;
      width: 1rem;
      height: 1rem;
      background: url(../../../src/assets/img/check.png) no-repeat;
      background-size: contain;
    }
  }

  &__button {
    display: inline-table;
    background $secondaryRed
    color $mainWhite
    text-decoration none
    padding 0.5rem 2.5rem
    border-radius: 5rem
    font-size 1.25rem

    &:hover {
      box-shadow: 0px 16px 32px rgba(207, 0, 0, 0.32);
    }
  }

  &-options {
    &__title {
      font-weight $bold
      margin-bottom 1rem
    }
    
    &__item {
      display flex
      margin-bottom 0.5rem
    }

    &__name, &__value {
      flex-basis 50%
    }
  }

  &-reviews {
    &__title {
      font-weight $bold
      margin-bottom 1rem
    }
    
    &__item {
      margin-bottom 2rem
    }

    &__author {
      font-weight $bold
    }

    &__text {
    }
  }
}