.godere-top {
  background $mainRed
  height 580px
  position relative
  padding 1rem
  
  &__txt {
    position absolute
    top 200px
    right 100px
    width 300px
  }

  &__title {
    color: $mainWhite
    font-size 1.5rem
    margin-bottom 0.2rem
  }

  &__description {
    color: $mainWhite
  }
}

.godere-tabs {
  position relative
  z-index 1
  margin-bottom 2rem
  display flex

  &__item {
    padding: .5rem 2.5rem;
    border-radius: 5rem;
    margin-right 1rem

    &:hover {
      box-shadow 0 0 2px $secondaryRed
      color $secondaryRed
      cursor pointer
    }

    &_active {
      background $secondaryRed
      color: $mainWhite;

      &:hover {
        box-shadow none
        color $mainWhite
      }
    }
  }
}

.godere-partners {
  display flex
  align-items: center;

  &__item {
    flex-basis 10rem
    margin-right 2rem
  }

  &__img {
    max-width 100%
  }
}

.godere-list {
  display flex
  justify-content space-between
}