.godere-top {
  background $mainRed
  position relative
  margin: -1rem -2rem 2rem
  
  &__txt {
    position absolute
    bottom: 100px
    right: 100px
    width: 500px
  }

  &__title {
    color: $mainWhite
    font-size 1.5rem
    margin-bottom 0.2rem
  }

  &__description {
    color: $mainWhite
  }

  img {
    position: relative
    top: 100px
    left: 50px
  }
}

.godere-tabs {
  position relative
  z-index 1
  margin-bottom 2rem
  display flex

  &__item {
    padding: .5rem 2.5rem
    border-radius: 5rem
    margin-right 1rem

    &:hover {
      box-shadow 0 0 2px $secondaryRed
      color $secondaryRed
      cursor pointer
    }

    &_active {
      background $secondaryRed
      color: $mainWhite

      &:hover {
        box-shadow none
        color $mainWhite
      }
    }
  }
}

.godere-partners {
  display flex
  align-items: center

  &__item {
    flex-basis: 15%
    margin-right 2rem
  }

  &__img {
    max-width 100%
  }
}

.godere-list {
  display flex
  justify-content space-between
}

@media screen and (max-width: 1024px) {
  .godere {
    &-top {
      margin: 0 -1rem 3rem
      padding: 1rem
      display: flex
      flex-direction: column-reverse

      img {
        top 0
        left 0
      }

      &__txt {
        position: relative
        top: 0
        width: 100%
        right: 0
      }

      img {
        max-width: 100%
        margin-bottom: -80px
      }
    }

    &-tabs {
      flex-direction: column

      &__item {
        padding: .5rem 1.5rem
        width: fit-content
      }
    }
    
    &-list {
      flex-direction: column
    }

    &-partners {
      flex-direction: column
      align-items: flex-start
    }
  }
}
