.godere-success {
    display flex
    justify-content space-between

    &__content {
        flex-basis: 100%;
    }

    &__number {
        font-size 1.25rem
        font-weight $bold
    }

    &__item {
        margin-bottom 1rem
    }

    &__title {
        font-weight $bold
    }
}