
// @import ('./fonts/fonts.css')
@import './margins.styl'
@import './normalize.css'
@import './grid/main.css'
@import './variables.styl'

html, body {
	margin: 0
	padding: 0
	font-size: 16px
	height: 100%;
	font-family: Ubuntu, Arial, Helvetica, sans-serif
	line-height: 1.5
	-webkit-font-smoothing: antialiased // @stylint ignore
	-moz-osx-font-smoothing: grayscale // @stylint ignore
}

* {
	box-sizing: border-box
}

ul {
  margin 0
  padding 0
  list-style-type none
}

.godere {
	flex: 1 0 auto;

	&-container {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
}

@import '../../components/header/header.styl'
@import '../../components/logo/logo.styl'
@import '../../components/menu/menu.styl'
@import '../../components/item/item.styl'
@import '../../components/breadcrumbs/breadcrumbs.styl'
@import '../../components/filters/filters.styl'
@import '../../components/form/form.styl'
@import '../../components/footer/footer.styl'

@import '../../index.styl'
@import '../../cart.styl'
@import '../../catalog/catalog.styl'
@import '../../page/page.styl'
// @import '../../cart/cart.styl'