
// @import ('./fonts/fonts.css')
@import './margins.styl'
@import './normalize.css'
@import './grid/main.css'
@import './variables.styl'

@import './nouislider.min.css'

html, body {
	margin: 0
	padding: 0
	font-size: 16px
	height: 100%;
	font-family: Ubuntu, Arial, Helvetica, sans-serif
	line-height: 1.5
	-webkit-font-smoothing: antialiased // @stylint ignore
	-moz-osx-font-smoothing: grayscale // @stylint ignore
}

body.freeze {
	overflow hidden
}

* {
	box-sizing: border-box
}

ul {
  margin 0
  padding 0
  list-style-type none
}

.godere {
	flex: 1 0 auto;

	&-container {
		display: flex;
		flex-direction: column;
    	width: 100%
		height: 100%;
    	position: relative;
		margin-right: auto;
		margin-left: auto;
		max-width: 1440px;
		padding: 0 2rem;
	}
}

@media screen and (max-width: 1024px) {
  .godere {
	  &-container {
		padding: 1rem;
	  }
  }
}
    

@import '../../components/header/header.styl'
@import '../../components/logo/logo.styl'
@import '../../components/item/item.styl'
@import '../../components/breadcrumbs/breadcrumbs.styl'
@import '../../components/form/form.styl'
@import '../../components/preview/preview.styl'
@import '../../components/footer/footer.styl'

@import '../../index.styl'
@import '../../catalog/catalog.styl'
@import '../../page/page.styl'
@import '../../cart/cart.styl'
@import '../../success/success.styl'
@import '../../checkout/checkout.styl'